<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌管理</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <style>
        #app {
            width: 600px;
            margin: 10px auto;
        }

        .tb {
            border-collapse: collapse;
            width: 100%;
        }

        .tb th {
            background-color: #0094ff;
            color: white;
        }

        .tb td,
        .tb th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }

        .add {
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
</head>
<script type="text/html" id="brandMam">
        <div>
              <div class="add">
                编号:
                <input v-model="id" type="text"> 品牌名称:
                <input v-model="name" type="text" @keyup.13="add">
                <input @click="add()" type="button" value="添加">
            </div>

            <div class="add">
                品牌名称:
                <!-- 如果我们调用的函数，没有参数，我们可以加()，也可以不加 -->
                <input @keyup.13="search()" v-model="keyword" type="text" placeholder="请输入搜索条件">
            </div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <tr v-if="brandList.length===0">
                    <td colspan='4'>没有更多数据了</td>
                </tr>
                <!-- 动态生成内容tr -->
                <tr v-for="item in brandList" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="#" @click="daleteL(item.id)">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </script>

<body>
    <div id="app">
        <brand-manager></brand-manager>
    </div>
</body>

<script>
    Vue.component('brand-manager', {
        template: `#brandMam`,
        data() {
            return {
                brandList: [
                    { id: 1, name: 'LV', ctime: new Date() },
                    { id: 2, name: 'GUCCI', ctime: new Date() },
                    { id: 3, name: 'Dior', ctime: new Date() }
                ],
                oldBrandList: [
                    { id: 1, name: 'LV', ctime: new Date() },
                    { id: 2, name: 'GUCCI', ctime: new Date() },
                    { id: 3, name: 'Dior', ctime: new Date() }
                ],
                id: "",
                name: "",
                keyword: ""
            }
        },
        methods: {
            add() {
                for (let i = 0; i < this.brandList.length; i++) {
                    if (this.id == this.brandList[i].id || this.id == '') {
                        alert('编号输入错误')
                        return
                    } else if (this.name == '') {
                        alert('名称不能为空')
                        return
                    }

                }
                this.brandList.push({
                    id: this.id,
                    name: this.name,
                    ctime: new Date()
                })
                this.oldBrandList = this.brandList

                //重置id和name
                this.id = '',
                    this.name = ''
            },
            daleteL(id) {
                const index = this.brandList.findIndex(item => {
                    return item.id == id
                })
                this.brandList.splice(index, 1)
                this.oldBrandList = this.brandList
            },
            search() {
                if (this.keyword.trim().length === 0) {
                    this.brandList = this.oldBrandList
                    return
                }

                const newBrandList = this.brandList.filter(item => {
                    return item.name.includes(this.keyword)
                })

                // console.log(newBrandList)

                //覆盖掉原先的数组
                this.brandList = newBrandList
            }
        }
    })
    new Vue({
        el: "#app",
    })
</script>

</html>